<html>
<head>
    <title>{{ car_info['make'] }} {{ car_info['model'] }}</title>
</head>
<body>
    <!-- include header here -->
    <h2>{{ car_info['make'] }} {{ car_info['model'] }}</h2>
    <p>Car Details</p>
    <h3>Price:</h3>
    <p>${{ car_info['price'] }}</p>
    <h3>Model:</h3>
    <p>{{ car_info['model'] }}</p>
    <h3>Pictures</h3>
    {% for img in car_info['pictures'] %}
        <img src="{{ url_for('static', filename='images/' + img) }}" alt="{{ car_picture }}" style="width: 500px; height: auto;">
    {% endfor %}

    <div>
        <br>
        <form action="{{ url_for('delete_car', car_id=car_info['id']) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this car?');">
            <button type="submit">Delete Car</button>
        </form>
    </div>
</body>
</html>